services:
  wordpress:
    image: wordpress
    restart: always
    ports:
      - 8080:80
    env_file:
      - .env.dev
    volumes:
      - wordpress:/var/www/html
    depends_on: 
      - db
  db:
    image: mysql:8.0
    restart: always
    env_file:
      - .env.dev
    volumes:
      - db:/var/lib/mysql
volumes:
  wordpress:
  db: