services:
  wordpress:
    image: wordpress:6.7
    restart: on-failure
    ports:
      - 8080:80
    env_file:
      - example.env
    volumes:
      - wordpress:/var/www/html
    depends_on: 
      - db
  db:
    image: mysql:8.0
    restart: on-failure
    env_file:
      - example.env
    volumes:
      - db:/var/lib/mysql
volumes:
  wordpress:
  db: